.idea
target
config.properties
config.properties.prev
params.properties
config_all.properties
example.xml
solr-output
src/main/java/edu/virginia/lib/indexing/localtools/
results
.project
.classpath
.settings
env.*
